Werkzeug==2.2.2
seaborn==0.12.0
SQLAlchemy==1.4.41
matplotlib
MarkupSafe==2.1.1
Pillow==9.2.0
colorama==0.4.5
cycler
pandas
python-dateutil
numpy
packaging
Flask==2.2.2
pytz
Flask-RESTful==0.3.9
importlib-metadata
Flask-Login==0.6.2
fonttools
six
Flask-SQLAlchemy==2.5.1
greenlet
Jinja2==3.1.2
itsdangerous
zipp
kiwisolver
contourpy
click
pyparsing
aniso8601
Flask-Cors==3.0.10
gunicorn==20.1.0
